# Maven
target/
!.mvn/wrapper/maven-wrapper.jar

# IDE
.idea/
*.iml
*.ipr
*.iws
out/
build/

# Компиляция Java
**/*.class

# JAR файлы
**/*.jar

# ОС
.DS_Store
Thumbs.db

# Логи
*.log
logs/

# Локальные настройки
local.properties

# Checkstyle
checkstyle.xml

# Workflows
.github/workflows/api-tests.yml