server.port=8080
spring.application.name=Filmorate
logging.level.org.zalando.logbook=TRACE

lombok.addLombokAnnotations = true

lombok.getter.flagUsage = WARNING

lombok.setter.flagUsage = WARNING

lombok.toString.flagUsage = WARNING

lombok.data.flagUsage = WARNING

lombok.builder.flagUsage = WARNING

lombok.anyConstructor.suppressConstructorProperties = false